*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
      --white: hsl(0, 0%, 100%);

      --yellow: hsl(47, 88%, 63%);
      --gray-950: hsl(0, 0%, 7%);
      --gray-500: hsl(0, 0%, 42%);
      
}


body{
    background-color: var(--yellow);
    border: 2px solid red;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    min-height: 100vh;
    width: 100%;
    
    
    
}

.card{
    border: 2px solid black;
    display: flex;
    border-radius: 20px;
    padding: 24px;
    width: 20%;
    min-width: 320px;
    max-width: 100%;

}

#test{
    border: 2px solid red;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    
    
}

.card-body{
    
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
}

.card-title{
    background-color: var(--yellow);
    width: 30%;
    font-size: 15px;
    text-align: center;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.card-date{
    padding-top: 5px;
    font-size: 12px;
}

.card-heading{
    font-size: 20px;
    font-weight: bold;
}

.card-heading:hover{
    color: var(--yellow);
}

.card-text{
    color: var(--gray-500);
}

.author{
    display: flex;
    align-items: center;
    
}

.author-name{
    padding-left: 15px;
    padding-top: 11px;
    font-weight: bold;
    
}





 


